:host {
  z-index: 10;
}

header {
  display: flex;
  background: rgba(23, 7, 7, 0.8);
  height: 5rem;
  align-items:center;
 
  .link-cont {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    letter-spacing: 0.15em;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    
    a:-webkit-any-link {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
     }
    a {
      &.active {
        color: red;
      }
    }
  }
  .icon{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
  }
}