:host {
    height: 100%;

    .wrapper {
        width: 80%;
        height: 100%;
        margin: 6rem 15rem;
        transform: scale(1.2, 1.2);
    }
}

.mat-raised-button {
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.sign-form__field1{
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.sign-form__field{
    margin-right: 1rem;
    margin-bottom: 1rem;
}