:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .back {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    } 
}
