/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-size: 18px; }
body {
    margin: 0 auto;
    max-width: 1550px;
    width: 100%;
    font-family: Inter, "Inter", sans-serif;
}

.mat-tab-body-wrapper {
    flex: 1;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
